<section class="container">
  <h1>
    RESUMO E IDENTIFICAÇÃO</h1>

  <div style="float: left; width:48%">
    <div>

      <mat-table [dataSource]="dataSource" #table class="mat-elevation-z8" class="data-table" fxFlex="100%"
        fxFlex.xs="100%" fxFlex.sm="33%">
        <!-- Position Column -->
        <ng-container matColumnDef="product">
          <mat-header-cell *matHeaderCellDef>Produto </mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding:10px">

            <img [src]="element.product.image_path" style="width:30%">
            {{element.product.name}}

          </mat-cell>

        </ng-container>

        <ng-container matColumnDef="unitaryValue">
          <mat-header-cell *matHeaderCellDef>valor unitário</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.product.price|currency:'BRL'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef>Qtd </mat-header-cell>
          <mat-cell *matCellDef="let element">

            <div style="width: 10%; color:red">
            <mat-form-field>

              <input matInput #postalCode maxlength="2" [value]="element.quantity">

            </mat-form-field>
          </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="valueTotal">
          <mat-header-cell *matHeaderCellDef>Valor Total </mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding:0">
            <div style="width: 100%">
              {{ element.product.price * element.quantity | currency:'BRL':true}}
            </div>
            <div>
              <a class="close" (click)="deleteItem(element)">
                <i>x</i>
              </a>
            </div>
          </mat-cell>

        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>

    <div class="div-totalValue">
      <span> Total: {{total() |currency: 'BRL': true}} </span>

    </div>
  </div>

  <div style="float: right; width: 48%; ">

    <mat-card class="mat-elevation-z1">
      <mat-card-title>Seus dados </mat-card-title>
      <form>
        <mat-form-field>
          <input matInput placeholder="Nome">
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput placeholder="Telefone">
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Textarea</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button mat-button style="background:green"> Finalizar</button>
      </form>
    </mat-card>


  </div>




</section>
